<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1>Groundbreaking<br>
          for you From Me</h1>
        <p>
          <section id="intro" class="main style1 dark fullscreen">
        <div class="content container 75%">
          <p>Welcome to <strong>Rohit webapp</strong> a responsive person work with <br>software 
          by <a href="#">Ruby on Rails</a>, built on <strong><a href="#">Skel</a></strong>,
          and released for <br>free under the <a href="http://html5up.net/license">Creative Commons Attribution  license</a>.</p>          
        </div>
      </section>
        </p>
        <p><a href="#" class="btn btn-primary btn-action">View Projects</a></p>
      </div>
      <div class="span7">
        <div class="js-video">
          <iframe src="http://player.vimeo.com/video/44771465?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <!-- https://www.youtube.com/watch?v=z_OCClfBoiQ -->

        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="txt-middle">
  <div class="container">
    <div class="row main-tab">
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-comments"></i> </div>
        <h2>Solutions</h2>
        <p>WebGhzYt Solutions in India has been providing Managed Services on the AWS Cloud platform for Pucker Images.com for more than a year. They’ve been managing the applications effectively based on agreed application performance and service SLAs. They have proactively solved issues impacting the business and handled the continuous releases of the applications without downtime</p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-delicious-sign"></i> </div>
        <h2>Development Experience</h2>
        <p>"Our development experience with MetaDesign Solutions has been fantastic. They have adapted flexibly to our needs. When we needed to take our project into a different direction they changed gears and moved into the direction we needed to go. We have been working with MetaDesign for almost one year now and our relationship with them has been great."</p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider last">
        <div class="icon_wrapper"> <i class="icon-paste"></i> </div>
        <h2>Satisfied</h2>
        <p>“We are very satisfied and happy to have found e-Zest as our offshore development partner. During our relationship, e-Zest has developed a good understanding of our own vision and work flows and found a way to successfully complement our operations without causing any discontinuities or issues on our side.”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-container">
    <div class="container">
      <div class="row">
        <h2>Featured Projects</h2>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="/assets/t1.jpg"></a></div>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="/assets/t3.jpg"> </a></div>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="/assets/t2.jpg"> </a></div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= pages_about_path %>">About Us</a></li>
          <li><a href="<%= pages_features_path %>">Features</a></li>
          <li><a href="<%= pages_pricing_path %>">Pricing</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Company</h3>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Faq</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Social Media</h3>
        <div class="social"> 
          <a href="https://www.linkedin.com/nhome/" class="tip" data-original-title="linkedIn"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> 
          <a href="https://twitter.com/" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> 
          <a href="https://google.com/" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> 
          <a href="https://www.facebook.com/webghzyt" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> 
          <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a>
        </div>       
      </div>
    </div>
  </div>
</div>
<div id="copywrite">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>&copy; SE Jain Rohit <span id="totop" class="pull-right"> <strong>Top </strong> </span></p>
      </div>
    </div>
  </div>
</div>